
.sidebar{
	width: 345px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
    background: #dd2f6e,
   
}


.sidebar-brand{
    height: 90px;
    padding-left:1rem 0rem 1rem  2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;

}
.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
}
.sidebar-menu  .link {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 1rem;

}
.sidebar-menu .link span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem ;
    padding-bottom:1rem ;
    color: rgb(3,27,136);    
    border-radius: 30px 0px 0px 30px;
}


.sidebar-menu{
    margin-top: 1rem;
}

.main-content{
    margin-left: 345px;
}
.header h2 {
    color: #222;
}

header label span {

    font-size: 1.7rem;
    padding-left: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    /* position: fixed; */
    left: 345px;
    width: calc(100%-345px);
    top:0;
    z-index: 100;
}
.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.2rem;
}

.search-wrapper input {
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper small {
    display: inline-block;
    color: #8390A2 ;
}
.logout{
    position: absolute;
    bottom: 0;
    background: #fff;
    padding-top: 1rem ;
    padding-bottom:1rem ;
    color: rgb(3,27,136);    
    border-radius: 30px 0px 0px 30px;  
    margin-left: 0rem;
    width: 50px;
 
}


#btn {
    color: rgb(3,27,136);
    background-color: #fff;
    border: none;

    
}
main{
    /* margin-top: 85px; */
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.card-single div:last-child span {
    font-size: 3rem;
    color: rgba(96,150,253,1);



}

.card-single div:first-child span {
    color : #8390A2 ;

}

.card-single:last-child {
    background: rgba(96,150,253,1)   ;
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
 color:#fff;
}
.letter {
    background-color: rgb(3,27,136);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color: #EEE5E5;
    font-size: 35px;

}

small {
    width: 100%;
    text-align: center;
}
.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem ;
    grid-template-columns: 65% auto;
}

.card{
    background:#fff ;
    border-radius: 5px;
}

.card-header
{
    padding: 1rem;

}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0 ;

}
.card-header button {
    background: #dd2f6e;
    border-radius: 10px;
    color:#fff ;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid #dd2f6e;
}

table {
    border-collapse: collapse;
}

thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    
}

td {
    padding: 0.5rem 0rem;
    font-size: .9rem;
    color: #222;
 
}

tr td:last-child {
    display: flex;
    align-items: center;

}

thead td {
    font-weight: 700;
    

}

td .status {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin-right: 1rem;
    margin-top: 5px;

}

.status.red {
    background: red;

}


.status.green {
    background: green;

}


.table-responsive{
    width: 100%;
overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}
.info{
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: #8390A2;

}
/* .search_results{
    display: none;
}

.search_result {
    display: block;
} */


.contact {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: #dd2f6e;
}
#nav-toggle:checked + .sidebar{
width: 70px;
}

.etat_check{
    display: flex;
}
#p{
    color: black;
}

.la-user{
    color: #dd2f6e;
    font-size: 40px;
    padding-right: 1rem;
    
}
 




